span.jsx-117158358 {
	display: inline-block !important;
	width: 15px !important;
	height: 15px !important;
	background-color: #ee272a !important;
	color: #f2f2f2 !important;
	border-radius: 50% !important;
	font-weight: 200 !important;
	font-size: 12px !important;
	line-height: 15px !important;
	text-align: center !important;
}