:root {
	--color-green-15: rgba(15, 153, 96, 0.15) !important;
	--color-green-25: rgba(15, 153, 96, 0.25) !important;
	--color-green-dark: #0a6640 !important;
	--color-green-default: #0f9960 !important;
	--color-green-light: #3dcc91 !important;
	--color-red-15: rgba(219, 55, 55, 0.15) !important;
	--color-red-25: rgba(219, 55, 55, 0.25) !important;
	--color-red-dark: #a82a2a !important;
	--color-red-default: #db3737 !important;
	--color-red-light: #ff7373 !important;
	--color-blue-15: rgba(0, 151, 251, 0.15) !important;
	--color-blue-25: rgba(0, 151, 251, 0.25) !important;
	--color-blue-dark: #0068ad !important;
	--color-blue-default: #0097fb !important;
	--color-blue-light: #73c4fa !important;
	--color-orange-15: rgba(225, 109, 26, 0.15) !important;
	--color-orange-25: rgba(225, 109, 26, 0.25) !important;
	--color-orange-dark: #a14809 !important;
	--color-orange-default: #e16d1a !important;
	--color-orange-light: #fc9c58 !important;
	--color-purple-15: rgba(98, 19, 177, 0.15) !important;
	--color-purple-25: rgba(98, 19, 177, 0.25) !important;
	--color-purple-dark: #6213b1 !important;
	--color-purple-default: #9d43f7 !important;
	--color-purple-light: #bf80ff !important;
	--color-gold-15: rgba(217, 158, 11, 0.15) !important;
	--color-gold-25: rgba(217, 158, 11, 0.25) !important;
	--color-gold-dark: #a67908 !important;
	--color-gold-default: #d99e0b !important;
	--color-gold-light: #ffc940 !important;
	--color-brand-dark-blue: #0d101e !important;
	--color-brand-light-blue: #68cdee !important;
	--color-brand-gray: #6d7d84 !important;
	--color-black: #21242c !important;
	--color-white: #ffffff !important;
	--color-off-white: #f7f8fa !important;
	--color-black-64: rgba(33, 36, 44, 0.64) !important;
	--color-black-50: rgba(33, 36, 44, 0.5) !important;
	--color-black-32: rgba(33, 36, 44, 0.32) !important;
	--color-black-16: rgba(33, 36, 44, 0.16) !important;
	--color-black-8: rgba(33, 36, 44, 0.08) !important;
	--color-white-64: rgba(255, 255, 255, 0.64) !important;
	--color-white-32: rgba(255, 255, 255, 0.32) !important;
	--color-white-50: rgba(255, 255, 255, 0.5) !important;
	--color-white-16: rgba(255, 255, 255, 0.16) !important;
	--color-white-8: rgba(255, 255, 255, 0.08) !important;
	--color-black-64-solid: #717378 !important;
	--color-black-50-solid: #909195 !important;
	--color-black-32-solid: #ADADAD !important;
	--color-black-16-solid: #DBDCDD !important;
	--color-black-8-solid: #EDEDEE !important;
	--color-white-64-solid: #A8A9AE !important;
	--color-white-50-solid: #86878E !important;
	--color-white-32-solid: #5A5C66 !important;
	--color-white-16-solid: #343642 !important;
	--color-white-8-solid: #202330 !important;
	--color-multiplayer-green: #1bc47d !important;
	--color-multiplayer-red: #ef5533 !important;
	--color-multiplayer-blue: #18a0fb !important;
	--color-multiplayer-gold: #ffc700 !important;
	--color-multiplayer-purple: #907cff !important;
	--color-multiplayer-teal: #00b5ce !important;
	--color-multiplayer-pink: #ee46d3 !important;
	--color-languages-java: #b07219 !important;
	--color-languages-scheme: #1e4aec !important;
	--color-languages-clojure: #db5855 !important;
	--color-languages-haskell: #5e5086 !important;
	--color-languages-lua: #000080 !important;
	--color-languages-ruby: #701516 !important;
	--color-languages-python: #3572a5 !important;
	--color-languages-go: #00add8 !important;
	--color-languages-cpp: #f34b7d !important;
	--color-languages-c: #555555 !important;
	--color-languages-cs: #178600 !important;
	--color-languages-fs: #b845fc !important;
	--color-languages-rust: #dea584 !important;
	--color-languages-swift: #ffac45 !important;
	--color-languages-r: #198ce7 !important;
	--color-languages-bash: #000000 !important;
	--color-languages-crystal: #000100 !important;
	--color-languages-julia: #a270ba !important;
	--color-languages-elixir: #6e4a7e !important;
	--color-languages-nim: #37775b !important;
	--color-languages-dart: #00b4ab !important;
	--color-languages-erlang: #b83998 !important;
	--color-languages-typescript: #2b7489 !important;
	--color-languages-elisp: #c065db !important;
	--color-languages-sql: #e34c26 !important;
	--color-languages-php: #4f5d95 !important;
	--color-languages-html: #e34c26 !important;
	--color-languages-css: #563d7c !important;
	--color-languages-javascript: #f1e05a !important;
}