header.jsx-2667542642 {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	z-index: 1000 !important;
	height: 60px !important;
	background-color: var(--color-background-1) !important;
	padding-left: 48px !important;
}

.logo.jsx-2667542642 {
	display: none !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.upgrade-button-wrapper.jsx-2667542642 {
	display: none !important;
}

@media screen and (min-width:768px) {
	.upgrade-button-wrapper.jsx-2667542642 {
		display: block !important;
	}
	.sidebar-open header.jsx-2667542642 {
		padding-left: 240px !important;
	}
	.sidebar-open .logo.jsx-2667542642 {
		display: none !important;
	}
}

.content.jsx-2667542642 {
	height: 100% !important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.center.jsx-2667542642 {
	-webkit-flex: 1 1 auto !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
	max-width: 700px !important;
	padding-right: var(--spacing-1) !important;
}

.left.jsx-2667542642 {
	margin-right: auto !important;
}

.right.jsx-2667542642 {
	padding: 0 var(--padding-size-medium) !important;
	margin-left: auto !important;
	display: grid !important;
	grid-auto-flow: column !important;
	grid-column-gap: var(--spacing-1) !important;
}

.explorer-badge.jsx-2667542642 {
	background-color: #d7362b !important;
	border-radius: 4px !important;
	border: solid 1px !important;
	border-color: #fa3b2b !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	color: white !important;
	-webkit-transition: all 0.1s !important;
	transition: all 0.1s !important;
	height: 100% !important;
	display: none !important;
}

.explorer-badge.jsx-2667542642:hover {
	background-color: #fa3b2b !important;
}

@media screen and (min-width:1024px) {
	.explorer-badge.jsx-2667542642 {
		display: -webkit-box !important;
		display: -webkit-flex !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}

@media screen and (min-width:480px) {
	header.jsx-2667542642 {
		padding-left: 48px !important;
	}
	.center.jsx-2667542642 {
		padding-left: var(--spacing-1) !important;
	}
	.logo.jsx-2667542642 {
		display: -webkit-box !important;
		display: -webkit-flex !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}