.board-post-detail-header.jsx-1910246347 {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	margin-bottom: 20px !important;
	margin-left: 5px !important;
	min-height: 47px !important;
}

.board-post-detail-title.jsx-1910246347 {
	font-size: 18px !important;
	font-weight: bold !important;
	margin-left: 10px !important;
}

.board-post-detail-locked.jsx-1910246347 {
	padding: 20px !important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	border: 1px solid #5192B3 !important;
}

.board-post-detail-locked.jsx-1910246347 div.jsx-1910246347 {
	margin-left: 10px !important;
	font-size: 16px !important;
	color: #5192B3 !important;
}