.sidebar.jsx-4231247028 {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	height: 100vh !important;
	width: 240px !important;
	-webkit-transform: translateX(-100%) !important;
	-ms-transform: translateX(-100%) !important;
	transform: translateX(-100%) !important;
	z-index: 1002 !important;
	display: grid !important;
	grid-template-rows: auto 1fr !important;
	background-color: var(--color-background-1) !important;
	border-right: 1px solid var(--color-control-3) !important;
	-webkit-transition: -webkit-transform 0.2s !important;
	-webkit-transition: transform 0.2s !important;
	transition: transform 0.2s !important;
}

.new-repl-cta.jsx-4231247028 {
	padding-bottom: var(--spacing-2) !important;
}

.sidebar.is-open.jsx-4231247028 {
	-webkit-transform: translateX(0) !important;
	-ms-transform: translateX(0) !important;
	transform: translateX(0) !important;
}

.sidebar.is-open.drawer.jsx-4231247028 {
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08) !important;
}

.header.jsx-4231247028 {
	padding-left: 48px !important;
	height: 60px !important;
	width: 240px !important;
}

.header-content.jsx-4231247028 {
	height: 100% !important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	position: relative !important;
	padding-right: var(--spacing-1) !important;
	opacity: 0 !important;
	-webkit-transition: opacity 200ms !important;
	transition: opacity 200ms !important;
	-webkit-transition-delay: 0s !important;
	transition-delay: 0s !important;
}

.sidebar.is-open.jsx-4231247028 .header-content.jsx-4231247028 {
	opacity: 1 !important;
	-webkit-transition-delay: 100ms !important;
	transition-delay: 100ms !important;
}

.notifications.jsx-4231247028 {
	margin-left: auto !important;
	-webkit-flex: 0 0 auto !important;
	-ms-flex: 0 0 auto !important;
	flex: 0 0 auto !important;
}

.scroll-container.jsx-4231247028 {
	overflow-y: auto !important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: column !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.sidebar-layout-nav-top.jsx-4231247028 {
	padding: var(--spacing-1) !important;
	margin-bottom: 20px !important;
}

.sidebar-bottom.jsx-4231247028 {
	margin-top: auto !important;
	padding: 0 10px 10px !important;
}

.sidebar-bottom.jsx-4231247028>nav.jsx-4231247028 {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-wrap: wrap !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.sidebar-bottom.jsx-4231247028>nav.jsx-4231247028 {
	padding-top: 10px !important;
}

.sidebar-bottom.jsx-4231247028 a.jsx-4231247028 {
	margin-right: 8px !important;
	font-size: 12px !important;
	text-transform: capitalize !important;
	opacity: 0.6 !important;
	color: var(--color-foreground-1) !important;
}

.line.jsx-4231247028 {
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	border-top: 1px solid #d4d4d4 !important;
	margin-top: 10px !important;
}

.help-resources.jsx-4231247028 {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
	-webkit-text-decoration: none !important;
	text-decoration: none !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	padding: 5px 10px !important;
	color: var(--color-foreground-1) !important;
	border-radius: var(--border-radius-1) !important;
}

.help-resources.jsx-4231247028:hover {
	-webkit-text-decoration: none !important;
	text-decoration: none !important;
	background-color: var(--color-control-3) !important;
	-webkit-transition: color 0.1s !important;
	transition: color 0.1s !important;
}

.help-button.jsx-4231247028 {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-webkit-box-pack: center !important;
	-webkit-justify-content: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	width: 25px !important;
	height: 25px !important;
	margin-right: 10px !important;
	-webkit-flex: 0 0 auto !important;
	-ms-flex: 0 0 auto !important;
	flex: 0 0 auto !important;
	font-size: 20px !important;
}

.notifications.jsx-4231247028 button {
	padding-right: 0 !important;
}

@media screen and (min-width:768px) {
	.sidebar.jsx-4231247028 {
		-webkit-transition-duration: 0s !important;
		transition-duration: 0s !important;
	}
	.sidebar.drawer.jsx-4231247028 {
		-webkit-transition-duration: 0.2s !important;
		transition-duration: 0.2s !important;
	}
}